@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: Bebas Neue;

}

.erbake{
    height: 70vh;
    width: auto;
display: flex;
align-content: center;
margin: auto;
}
a{
    text-decoration: none;
    color: red;
}
.logos{
    height: 20vh;
}
body{
   background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: red;
    display: grid;
    grid-template-areas: 
    "a a b b u u" 
    "v v l l m m"
    
 
}
label{
    color: red;
}
.s{
    display: flex;
justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    flex-flow: row wrap;
align-content: baseline;
}
.titulo{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 20vh;
    width: 20vh;
}
